/build
/doc/_build
.waf*
.lock-*
*.pyc
*.pyo
__pycache__
zerogw-*.tar.bz2
*.deb
*~
*.swp
.vagga

# checkinstall
description-pak
*.tgz
/examples/zerogw.core
/zerogw.core
/a.out
/config.txt
/error.log
/examples/#test.sh#
/examples/error.log
/examples/test.sh
/src/#accept4.c#
/src/#log.c#
/src/.#accept4.c
