button {
    width: 150px;
}
#n_add {
    width: auto;
}

html, body {
    min-height: 100%;
}
ul {
    list-style: none;
}
#loginform label {
    width: 128px;
    display: inline-block;
}
#tabs {
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}
#my_nickname:before {
    content: "name:";
    width: 64px;
    display: inline-block;
    color: gray;
    font: 200px;
}
#my_mood:before {
    content: "mood:";
    width: 64px;
    display: inline-block;
    color: gray;
}

